Repository Dacience/DataScientist, pull requests merged in 2020-12, with the labels that each got.

#43 random_forest_regression + test cases added
  datascientist/model/regression/skl/ensemble_model/__init__.py
  datascientist/model/regression/skl/ensemble_model/random_forest_regression.py
  datascientist/model/regression/skl/ensemble_model/tests/test_random_forest.py
Labels: Beginner, NJACK, Regression

#49 (gradient_boosting regressor + test cases) along with change in typo in lasso.py
  datascientist/model/regression/skl/ensemble_model/gradient_boosting_regression.py
  datascientist/model/regression/skl/ensemble_model/tests/test_gradient_boosting.py
  datascientist/model/regression/skl/linear_model/lasso.py
Labels: Beginner, NJACK, Regression, skl

#42 Added CODE_OF_CONDUCT.MD and contribution guidelines to CONTRIBUTING.md and demo images to assets folder.
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  assets/branch.png
  assets/fork.jpg
  assets/issues.jpg
  assets/pullrequest-description.png
  assets/pullrequest-send.png
Labels: Beginner, NJACK, documentation
